// Custom.scss
// Option A: Include all of Bootstrap

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";


//custom variable declarations
$background--color:#1a1b1e;
$background--color-light: #2D2E32;
$primary-color: #246BFE;
$primary-color-dark: #2955E5;
$primary-color-transparent: #0080FF80;
$icon--color:#1a1b1e;
$font--color:#ffffff;
$font--color-light: #bbbbbb;
$font--secondary:'JetBrainsMono';
$font--primary:'Gilroy';
$transition--length: .8;

$navbar_height: 8vmin;

$button_margin_h: 2.5vmax;
$button_margin_v: 2vmin;
$border_radius: 0.8vmin;

$font_size_small_x: calc(0.6vw + 0.6vh);
$font_size_small_xx: calc(0.4vw + 0.4vh);
$font_size_small_xxx: calc(0.2vw + 0.2vh);

$font_size_normal_x: calc(1.2vw + 1.2vh);
$font_size_normal_xx: calc(1vw + 1vh);
$font_size_normal_xxx: calc(0.8vw + 0.8vh);

$font_size_medium_x: calc(1.8vw + 1.8vh);
$font_size_medium_xx: calc(1.6vw + 1.6vh);
$font_size_medium_xxx: calc(1.4vw + 1.4vh);

$font_size_large_x: calc(2.6vw + 2.6vh);
$font_size_large_xx: calc(2.2vw + 2.2vh);
$font_size_large_xxx: calc(2vw + 2vh);

$font_size_huge_x: calc(4vw + 4vh);
$font_size_huge_xx: calc(3.5vw + 3.5vh);
$font_size_huge_xxx: calc(3vw + 3vh);

$font_size_header_x: calc(36vmin);
$font_size_header_xx: calc(12vw + 12vh);
$font_size_header_xxx: calc(10vw + 10vh);


// :root {
// 	--primary-color: #1089ff;
// 	--success-color: #71F9A8;
// }

// For Desktop Devices - 1024px to largest
@media(min-width:1024px) {

	.block_phone {
	  flex: 1;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  //background: red;
	}

	.home_background {
		display: inline;
	}
}
  
//For Mobile Devices - Zero to 1024px
@media(max-width:1024px) {

	.block_phone {
	  	flex: 0;
		display: none;
		//background: #71F9A8;
	}

	.home_background {
		display: none;
	}
}


//++++++++++++++++++++++ DEFAULT COMPONENTS +++++++++++++++++++++++++++

body{
	margin: 0;
	padding: 0;
	padding-top: $navbar_height;
	background-color: $background--color;
	font-family: $font--primary;
	font-size: $font_size_small_x;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	color: rgba(255, 255, 255, 0.3);
	padding: 0;
	margin: 0;
}

h1 {
	padding: 0;
	margin: 0;
	color: white;
}

body::-webkit-scrollbar {
    width: 1vmin;
}

body::-webkit-scrollbar-track {
    background: $background--color-light;
}

body::-webkit-scrollbar-thumb {
    background: $font--color-light
}

//+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
//+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++






//++++++++++++++++++++++++++++ UNIVERSAL COMPONENTS +++++++++++++++++++++++++++++++++++++

.content-seperator {
	background-color: rgba(255, 255, 255, 0.199);
}

.content-page {
	width: 100%;
	height: 100vmin;
	padding-left: 8vw;
	padding-right: 8vw;
	padding-bottom: 4vw;
}

.content-header {
	font-weight: 800;
	color: $font--color;
	text-transform: uppercase;
	font-size: $font_size_large_x;
}

.material-icons {
	color: white;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 2.8vmax; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++



//++++++++++++++++++++++++++++++++++++++++++++HOME PAGE +++++++++++++++++++++++++++++++++++++

.block_header__headline{
	font-weight: bold;
	color: $font--color;
	padding: 0;
	margin: 0;
	font-size: $font_size_huge_xx;
}

.text-name {
	color: $primary-color;
	font-weight: bold;
	font-size: $font_size_normal_xxx;
	text-align: center;
	position: relative;
	margin-bottom: -2vmin;
	background: $background--color;
	::before {
		content: "";
		display: block;
		width: 50vmin;
		height: 2px;
		background: $primary-color;
		position: absolute;
		left: 0;
		top: 50%;
		z-index: -2;
	}
}

.block_work_info p {
	color: white;
	font-weight: 300;
	opacity: 0.5;
	margin-top: 0.5rem;
	font-size: $font_size_normal_xx;
}


#home {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: stretch;
	margin-top: $navbar_height;
	align-content: center;
	height: 90vmin;
	// background: yellow;
}

.container_home {
	padding: 0;
	height: auto;
	display: flex;
	flex-direction: row;
	width: 100%;
	//background: pink;
}

.block_header {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  //background: purple;
}

.container_button {
	display: flex;
	flex-direction: row;
}

.block_header_button {
	margin-top: 1rem;
	padding-left: $button_margin_h;
	padding-right: $button_margin_h;
	padding-top: $button_margin_v;
	padding-bottom: $button_margin_v;
	font-size: $font_size_normal_xxx;
	//box-shadow: 0 6px 32px rgba(0,0,0,.55);
	display: flex;
	flex-direction: row;
	align-items: center;
	font-weight: 500;
	color: white;
	background: $primary-color;
	border-radius: $border_radius;
	border: none;
	width: auto;
	height: auto;
	transition: 200ms ease-in-out;
}

.block_header_button:hover,
.block_header_button:focus {
	box-shadow: 0 6px 32px #71F9A8;
	background: #71F9A8;
	color: black;
}


.block_phone img {
	height: auto;
	width: 60%;
}


.container_background {
	position: absolute;
	width: 100vw;
	height: 100vmin;
}

//+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++



//+++++++++++++++++++++++++++++++++++++EXPERIENCE ++++++++++++++++++++++++++++++++++++

#experience {
	height: auto !important;
}

.exp-blocks {
	width: auto;
	height: auto;
	display: flex;
	justify-content: flex-start;
	align-content: center;
	flex-direction: column;
}

.exp_1 {
	height: 48vmin;
	width: auto;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	//background-color: green;
}

.exp_2 {
	height: 48vmin;
	width: auto;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	//background-color: orangered;
}

.exp_3 {
	height: 48vmin;
	width: auto;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	//background-color: indigo;
}

.year_of_experience {
	margin: 0;
	padding: 0;
	font-size: $font_size_header_x;
	color: $font--color-light;
	font-weight: 800;
	opacity: 0.1;
}

.exp_company {
	color: $primary-color; 
	font-size: 1.8vmin;
}

.position_div {
	margin-bottom: 2.5vh;
	display: flex;
	flex-direction: column;
}

.pos_btn {
	display: flex;
	margin-top: 1.5vh;
	align-content: flex-start;
	justify-content: center;
	flex-direction: column;
	position: relative;
	border: none;
	outline: none;
	background: transparent;
	color: white;
	font-size: 4vmin;
	font-weight: 500;
}

.pos_btn.slide_right::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	background-color: $white;

	/* animate and time the transitions*/
	transition: transform 250ms ease-in-out;
	transform: scaleX(0);
	transform-origin: left;
}

.pos_btn.slide_right {
	z-index: 1;
	transition: color 250ms ease-in-out;
}

.pos_btn.slide_right:hover::before ,
.pos_btn.slide_right:focus::before {
	transform: scaleX(1);
}

.pos_btn.slide_right:hover,
.pos_btn.slide_right:focus {
	color: black;
}

//+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++



//++++++++++++++++++++++++++++++++++++++ NAVBAR - DESKTOP +++++++++++++++++++++++++++

#navbar__desktop {
	background-color: black;
	margin: 0;
	padding-left: 8vw;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 8vw;
	font-weight: 500;
  }

.nav-item {
	padding-left: 2vw;
	text-transform: uppercase;
}

#navbar__desktop .navbar-nav>li>a {
	color: white;
  	filter: grayscale(100%) opacity(0.7);
  	transition: var(--transition-speed);
}

#navbar__desktop .navbar-nav .nav-link:hover, 
.navbar-light .navbar-nav .nav-link:focus {
	filter: grayscale(0%) opacity(1);
}
  
#navbar__desktop .navbar-nav .nav-link.disabled {
	color: gray;
}
  
#navbar__desktop .navbar-nav .show > .nav-link,
#navbar__desktop .navbar-nav .active > .nav-link,
#navbar__desktop .navbar-nav .nav-link.show,
#navbar__desktop .navbar-nav .nav-link.active {
	filter: grayscale(0%) opacity(1);
	color:white;
}

.navbar-brand {
	padding-top: 2.5vh;
	padding-bottom: 2.5vh;
}


@media (max-width: 992px) {
	.navbar-brand {
		font-size: $font_size_medium_xx;
	}
}

@media (min-width: 992px) {
	.navbar-brand {
		font-size: $font_size_normal_xx;
	}
}

//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++




//++++++++++++++++++++++++++++++++++ NAVBAR MOBILE +++++++++++++++++++++++++++++++++++

@media (max-width: 992px) {


	.nav__mobile {
		position: fixed;
		bottom: 0;
		width: 100%;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
		background-color: $primary-color;
		display: flex;
		overflow-x: auto;
	}
	
	.nav__link {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-grow: 1;
		width: 20vw;
		overflow: hidden;
		white-space: nowrap;
		font-weight: 500;
		font-size: $font_size_normal_xxx;
		padding-top: 1.5vh;
		padding-bottom: 1.5vh;
		color: white;
		text-transform: uppercase;
		text-decoration: none;
		-webkit-tap-highlight-color: transparent;
		transition: background-color 0.1s ease-in-out;
		filter: grayscale(100%) opacity(0.7);
		  transition: var(--transition-speed);
	}
	
	.nav__link:hover {
		color: white;
		text-decoration: none;
		filter: grayscale(0%) opacity(1);
	}
	
	.nav__link--active {
		color: white;
		text-decoration: none;
		filter: grayscale(0%) opacity(1);
		background-color: $primary-color-dark;
	}

}

@media (min-width: 992px) {

	.nav__mobile {
		display: none;
	}
	
}

//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

