// Custom.scss
// Option A: Include all of Bootstrap

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";


//custom variable declarations
$background--color:#1a1b1e;
$background--color-light: #2D2E32;
$primary-color: #1089ff;
$icon--color:#1a1b1e;
$font--color:#ffffff;
$font--color-light: #bbbbbb;
$font--primary:'JetBrainsMono';
$transition--length: .8;

$navbar_height: calc(6vh + 2vw);

$button_margin_h: 3vmax;
$button_margin_v: 2vmin;
$border_radius: 0.8vmin;



$font_size_small_x: calc(0.6vw + 0.6vh);
$font_size_small_xx: calc(0.4vw + 0.4vh);
$font_size_small_xxx: calc(0.2vw + 0.2vh);

$font_size_normal_x: calc(1.2vw + 1.2vh);
$font_size_normal_xx: calc(1vw + 1vh);
$font_size_normal_xxx: calc(0.8vw + 0.8vh);

$font_size_medium_x: calc(1.8vw + 1.8vh);
$font_size_medium_xx: calc(1.6vw + 1.6vh);
$font_size_medium_xxx: calc(1.4vw + 1.4vh);

$font_size_large_x: calc(2.6vw + 2.6vh);
$font_size_large_xx: calc(2.2vw + 2.2vh);
$font_size_large_xxx: calc(2vw + 2vh);

$font_size_huge_x: calc(4vw + 4vh);
$font_size_huge_xx: calc(3.5vw + 3.5vh);
$font_size_huge_xxx: calc(3vw + 3vh);

$font_size_header_x: calc(36vmin);
$font_size_header_xx: calc(12vw + 12vh);
$font_size_header_xxx: calc(10vw + 10vh);


// :root {
// 	--primary: #1089ff;
// 	--success: #71F9A8;
// }

// For Desktop Devices - 1024px to largest
@media(min-width:1024px) {

	.container_editor {
	  flex: 1;
	  display: flex;
	  justify-content: flex-start;
	  align-items: center;
	}
}
  
//For Mobile Devices - Zero to 1024px
@media(max-width:1024px) {

	.container_editor {
	  	flex: 0;
	  	display: none;
	}
}

  


body{
	background-color: $background--color;
	font-family: $font--primary;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.content-seperator {
	background-color: rgba(255, 255, 255, 0.199);
}

.content-page{
	width: 100%;
	height: 100vmin;
	padding-left: 8vw;
	padding-right: 8vw;
	padding-top: 4vw;
	padding-bottom: 4vw;
}

.content-header {
	font-weight: 800;
	color: $font--color;
	text-transform: uppercase;
	font-size: $font_size_large_x;
}

.material-icons {
	color: white;
}

#horizontal_navbar {
	height: $navbar_height;
}

.navbar-brand {
	font-size: $navbar_height / 3;
}

#brand_image {
	height: $navbar_height;
	width: auto;
}

.nav__list-item {
	text-transform: uppercase;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: $background--color-light;
}

body::-webkit-scrollbar-thumb {
    background: $font--color-light
}


//----------------------------------------------------------------
//                 Home Page - START
//----------------------------------------------------------------

.home-content__headline{
	font-weight: 600;
	color: $font--color;
	font-size: $font_size_huge_x;
}

#home {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: stretch;
	margin-top: $navbar_height;
	align-content: center;
	height: 90vmin;
	//background: yellow;
}

.container_home {
	padding: 0;
	height: auto;
	display: flex;
	flex-direction: row;
	width: 100%;
	//background: pink;
}

.container_header {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  //background: purple;
}

.container_button {
	display: flex;
	flex-direction: row;
}

.download_resume_button {
	margin-top: 2vmin;
	padding-left: $button_margin_h;
	padding-right: $button_margin_h;
	padding-top: $button_margin_v;
	padding-bottom: $button_margin_v;
	font-size: $font_size_normal_xxx;
	box-shadow: 0 6px 32px rgba(0,0,0,.55);
	display: flex;
	flex-direction: row;
	align-items: center;
	font-weight: 500;
	color: white;
	background: $primary-color;
	border-radius: $border_radius;
	border: none;
	width: auto;
	height: auto;
	transition: 200ms ease-in-out;
}

.download_resume_button:hover,
.download_resume_button:focus {
	box-shadow: 0 6px 32px #71F9A8;
	background: #71F9A8;
	color: black;
}

// .container_editor {
// 	background: orangered;
// }

.card_editor {
	width: 35vw;
	height: 20vw;
	background : $background--color-light;
	margin :auto;
	box-shadow: 0 6px 32px rgba(0,0,0,.55);
	border-collapse: separate; 
	border-radius: $border_radius;
}

.editor_top {
	width: 100%;
	height: 10%;
	padding-left: 5%;
	background: black;
	border-top-left-radius: $border_radius;
	border-top-right-radius: $border_radius;
}

.dot {
	height: $font_size_small_xx;
  	width: $font_size_small_xx;
  	background-color: #bbb;
  	border-radius: 50%;
	display: inline-block;

}

//----------------------------------------------------------------
//                 Home Page - START
//----------------------------------------------------------------



//----------------------------------------------------------------
//                 Experience Page - START
//----------------------------------------------------------------

#experience {
	height: auto !important;
}

.exp-blocks {
	width: auto;
	height: auto;
	display: flex;
	justify-content: flex-start;
	align-content: center;
	flex-direction: column;
}

.exp_1 {
	height: 48vmin;
	width: auto;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	//background-color: green;
}

.exp_2 {
	height: 48vmin;
	width: auto;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	//background-color: orangered;
}

.exp_3 {
	height: 48vmin;
	width: auto;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	//background-color: indigo;
}

.year_of_experience {
	margin: 0;
	padding: 0;
	font-size: $font_size_header_x;
	color: $font--color-light;
	font-weight: 800;
	opacity: 0.1;
}

.exp_company {
	color: $primary-color; 
	font-size: 1.8vmin;
}

.position_div {
	margin-bottom: 2.5vh;
	display: flex;
	flex-direction: column;
}

.pos_btn {
	display: flex;
	margin-top: 1.5vh;
	align-content: flex-start;
	justify-content: center;
	flex-direction: column;
	position: relative;
	border: none;
	outline: none;
	background: transparent;
	color: white;
	font-size: 4vmin;
	font-weight: 500;
}

.pos_btn.slide_right::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	background-color: $white;

	/* animate and time the transitions*/
	transition: transform 250ms ease-in-out;
	transform: scaleX(0);
	transform-origin: left;
}

.pos_btn.slide_right {
	z-index: 1;
	transition: color 250ms ease-in-out;
}

.pos_btn.slide_right:hover::before ,
.pos_btn.slide_right:focus::before {
	transform: scaleX(1);
}

.pos_btn.slide_right:hover,
.pos_btn.slide_right:focus {
	color: black;
}




//----------------------------------------------------------------
//                 Experience Page - START
//----------------------------------------------------------------



//----------------------------------------------------------------
//					Horizontal Navbar - START
//----------------------------------------------------------------

.nav-item {
	padding-left: calc(1vw + 8px);
	font-size: $font_size_small_x;
}

.nav-link {
  color: white;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  color: white;
}

.navbar {
  background-color: $background--color;
  margin: 0;
  padding-left: 8vw;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 8vw;
  border-bottom: 0.2px solid $background--color-light;
}

.navbar-brand {
  margin: 0;
  padding: 0;
  color: white;
  font-size: $font_size_normal_x;
}

.navbar-toggler {
	z-index: 10;
}


@media (max-width: 992px) {

    .navbar-collapse {
        position: fixed;
        top: 0;
		right: 0;
		width: 60vmin;
		background-color: $background--color-light;
		padding-right: 8vw;
		padding-top: 8vh;
		height: 100%;
		text-align: right;
		box-shadow: 0 6px 32px rgba(0,0,0,.55);
	}
	
	.nav-item {
		font-size: $font_size_medium_xxx;
	}

    .navbar-collapse.collapsing {
        height: 100%;
        right: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        height: 100%;
        right: 0;
        transition: right 400ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: right 400ms ease-in;
    }
}

//----------------------------------------------------------------
//					Horizontal Navbar - START
//----------------------------------------------------------------